.breadcrumb-wrapper {
  ul {
    margin: 0px;
    padding: 0px;
  }
  ul.breadcrumb {
    list-style: none;
  }
  ul.breadcrumb li {
    display: inline;
  }
  ul.breadcrumb li+li:before {
    padding-left: 8px;
    color: #393d54;
    content: "/\00a0";
  }
  li.link-available {
    font-size: 23px;
    a {
      text-decoration: none;
    }
  }
  li.link-available:hover {
    cursor: pointer;
  }
  li a:hover {
    text-shadow: 0px 1px #aeb2ce;
  }
}