/* Colors */

/* Sidebar */

$sidebar-bg-color: #393d54;
$sidebar-logo-bg-color: #2b3050;
$sidebar-item-hover-bg-color: #2b3050;
$sidebar-active-item-bg-color: #535876;
$sidebar-item-text-color: #aeb2ce;
$sidebar-active-item-text-color: #fcce31;
/* Navigation Bar */

$navigationbar-bg-color: #ffffff;
$navigationbar-text-color: #535876;
/* Main content colors*/

$main-content-bg-color: #eff0f3;
$page-title-text-color: #393d54;
/* Dashboard */

$dashboard-card-section-title-color: #535876;
$dashboard-lpsm-color: #8f7db2;
$dashboard-fabric-color: #faab46;
$dashboard-api-color: #6eb3c2;
$dashboard-card-background-color: #fdfefe;
$dashboard-card-button-border-color: #a9a9a9;
$dashboard-card-button-font-color: #797979;
$dashboard-card-button-hover-color: #9196af;
/* Dropdown colors */

$dropdown-collapsed-background-color: #babccc;
$dropdown-open-background-color: #adb0c5;
$dropdown-hover-background-color: #646883; // #8e92ad;


$hyperlink-color: #8570ae;

$input-text-focus-color: #8e92ad;
$input-text-background-color: #eeedf3;
$input-text-placeholder-color: #a9a9a9;
$input-text-font-color: #8570ae;


/*Button Colors*/
$button-color-background: #9196af;
$button-color-text: #ffffff;

/* Table Colors */
$table-text-color: rgb(97, 97, 97);
$table-title-text-color: rgb(83, 88, 118);

/* show-hide toggler */
$show-hide-toggler-title-color: #6e4b7c;


/* Task Colors */
$task-collapsible-background-color: rgb(236, 235, 238);
$tasks-collapsible-thead-color: rgb(229, 228, 234);
$tasks-collapsible-border-top-color: #81678d;