.navigation-bar {
    display: inline-flex;
    position: fixed;
    width: 100%;
    background-color: $navigationbar-bg-color;
    height: $sidebar-logo-item-height;
    padding-left: $sidebar-width + 40px;
    padding-right: 30px;
    align-items: center;
    /* padding-top: 22px;
    padding-bottom: 17px; */
    font-size: 13px;
    color: #535876;
    z-index: 100;
    .section-title {
        flex-grow: 1;
        .breadcrumb-icon {
            margin-right: 15px;
            font-size: 24px;
            padding-top: 4px;
            cursor: pointer;
        }
    }
    .action-items-container {
        display: inline-flex;
        .circle-icon-container {
            margin-right: 30px;
        }
    }
}

.collapsed-sidebar {
    .navigation-bar {
        padding-left: $sidebar-width-collapsed + 40px;
    }
}